/*CSS 
AIT CHADI Anissa, BELLHAJ Dillan, CERF Fabien, COSTA Mathéo
PRÉING2 MI 3*/


*{   /*Pour retirer les margin par défaut du body*/
    margin: 0;
    padding: 0; }

header    {
        background-color: #e6ccb2; 
        display: flex;      
         }
.nul{
    width: 100%;
    flex-direction: column;       
    justify-content: center; 
    align-items: center;
}

.nvo{
    

}

#logo{
    width: 100%;
    height: 100%;
     
     }

h1 {             /*Pour mettre les propriétés du h1 du header plus facilement/spécifiquement*/
        color:grey;
        text-align: center;
        padding-top: 1%;
        }


        
.conex{
    float: right;
    width: max-content;
    text-align: right;
    padding-top: 1.5%;
    padding-right: 1.5%;
    
    
}

.menuH{
    
   padding-top: 1.7%;
    display: flex;
    color:rgb(61, 59, 40);
  
    
}
.menuH ul {
    text-align: center;
    list-style-type: none;
    width: 100%;
    display: table;
   
}
.menuH li {
    display: inline-block;
    float:none;
   margin: 1%;
}




main{
   
    width: 70%;
    background-color: #ddb892;
    text-align: center; }


footer {
    
    background-color: #e6ccb2;;
    color: white;
    text-align: center; }


nav {
     width: 30%; 
     background-color: #a5907f; }

.menu{
    text-align: center; }

.milieu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 185px);
}